<div class="dashboard">
  <div class="title-container">
    <h2>Dashboard</h2>
    <a href="/ideas/add" class="btn">Bring up a new not-so-dumb idea</a>
  </div>
  <h3>Your last not-so-dumb ideas:</h3>
</div>