<div class="dashboard">
  <div class="title-container">
    <h2>Dashboard</h2>
    <a href="/ideas/new" class="btn">Bring up a new not-so-dumb idea</a>
  </div>
  <h3>Your last not-so-dumb ideas:</h3>
  <ul>
    {{#each ideas}}
    <li>
      <splan class="label">{{this.title}}</splan>
      <span class="description">{{this.description}}</span>
      <span class="actions">
        <a href="/" class="btn">Edit</a>
        <form action="/">
          <input type="hidden" name="id" value="{{this.id}}">
          <input type="submit" value="Delete" class="btn">
        </form>
      </span>
    </li>
    {{/each}}
  </ul>
</div>