<div class="idea-form-container">
  <a href="/ideas/dashboard">Check my last ideas</a>
  <h1>Bringing up a new not-so-dumb idea:</h1>
  <form action="/ideas/new" method="POST">
    <div class="form-control">
      <label for="title">What is it?</label>
      <input type="text" name="title" placeholder="How would you call it?">
    </div>
    <div class="form-control">
      <label for="description">What is that exactly?</label>
      <textarea name="description" placeholder="How would you describe it?">
    </div>
    <input type="submit" value="Make the world know!">
  </form>
</div>