<div class="idea-form-container">
  <a href="/ideas/dashboard">Check my last ideas</a>
  <h1>Bringing up a new not-so-dumb idea:</h1>
  <form action="/ideas/new" method="POST">
    <div class="form-control">
      <label for="title">What is it?</label>
      <input type="text" name="title" placeholder="How would you call it?">
    </div>
    <div class="form-control">
      <label for="description">What is that exactly?</label>
      <textarea style="resize:none" name="description" rows="10" cols="200" placeholder="How would you describe it?"></textarea>
    </div>
    <input type="submit" value="Let the world know!">
  </form>
</div>