<div class="dashboard">
  <div class="title-container">
    <h2>Details</h2>
    <a href="/" class="btn">Go back</a>
  </div>
  <h3>{{user.name}}'s idea:</h3>
  <ul>
    <li>
      <div class="idea-info">
        <span class="label">{{idea.title}}</span>
        <span class="description">{{idea.description}}</span>
      </div>
    </li>
  </ul>
</div>